.section-container {
  width: var(--cWidth);
  max-width: 1300px;
  margin: 0 auto;
}
.title,
.para {
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@media only screen and (max-width: 900px) {
  .section-container {
    width: 100%;
    max-width: var(--cWidth);
  }
}
